        .body
        {
        position: absolute;
        background-color: black;
        color: white;
        padding: 100px;
        text-align: center;
        }
        .question{
        background-color: grey;
        color: white;
        border: 5px solid white;
        text-align: center;
        height: 500px;
        width:100%;
        border-radius: 25px;
        margin: 50px 0px;
        font-size: 50px;
        }
        .content{
        text-align: center;
        padding: 20px 20px 20px 20px;
        margin: 50px 50px 50px 50px;
        }
        .title{
        text-align: center;
        padding: 20px 20px 20px 20px;
        margin: 100px 50px 50px 50px;
        font-size: 90px
        }
        .button {
        display: inline-block;
        padding: 15px 25px;
        font-size: 47px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: #fff;
        background-color: #4CAF50;
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px #999;
        height: 150px;
        width: 100%;
        margin: 20px 2px;
        }
        .button:active {
        background-color: #3e8e41;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
        }

        input[type=text], select {
        width: 100%;
        height: 150px;
        padding: 12px 20px;
        margin: 8px 0;
        font-size: 50px;
        display: inline-block;
        border: 5px solid #ccc;
        border-radius: 15px;
        box-sizing: border-box;
        text-align: center;
        }
        input[type=button] {
        display: inline-block;
        padding: 15px 25px;
        font-size: 47px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: #fff;
        background-color: #4CAF50;
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px #999;
        height: 150px;
        width: 100%;
        margin: 20px 2px;

        }
        input[type=button]:active {
        background-color: #3e8e41;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
        }
        .result{
        background-color: grey;
        color: white;
        border: 5px solid white;
        text-align: center;
        height: 700px;
        width:100%;
        border-radius: 25px;
        margin: 50px 0px;
        font-size: 50px;
        }